

@media screen and (min-width:576px) {
    
    /* ----------------------- HEADER -------------------------*/

    .main-header {
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 3;
        
    }
    
    #menu {
        display: none;
    }

    /* ----------------------- NAV-BAR -------------------------*/
       
    .nav-bar {
        background-color: #FFFFFF;
        padding: 0.5rem;
      
        &__nav-list {
            display: flex;
            list-style-type: none;
            justify-content: center;
            gap: 0.5rem;
        }

        &__nav-item {
            text-align: center;
        }

        &__nav-link {
            display: inline-block;
            position: relative;
            padding: 0.9rem 2rem;
            text-decoration: none;
            color: #4f4f4e;
            font-weight: 700;

            &::after {
                content:'';
                position:absolute;
                width: 85%;
                height: 2px;
                bottom: 11px;
                left: 8px;
                background-color: #ffffff;
                transform: scale(0);
                transform-origin: bottom right;
                transition: transform 0.75s ease-out;
            
            }

            &:hover {
                background-color: #c6c3c3;
                border-radius: 4px;
            }

            &:hover::after {
                background-color: #ffffff;
                transform: scale(1);
                transform-origin: bottom left;
            }


        }

    }

    /* ----------------------- SEARCH-BAR -------------------------*/

    .search-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 3.8rem;
        background-color: #292929;

        &__logo-container {
            width: 18.75rem;
            text-align: end;
            line-height: 3.7rem;
            font-size: 1.35em;
            color: #ffffff;
        }

        &__form-container {
            padding: 0.8rem;
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
            justify-content: center;
           
           
        }

        &__form-label {
            height: 2rem;
            padding: 0.22rem;
            color: #ffffff;
            margin-right: 0.5rem;
           
        }

        &__form-search {
            width: 70%;
            height: 2rem;
            border:none ;
            border-radius: 2px;
            
            color: #000000;
            font-size: 0.9em;
            margin-left: 0.5rem;
            background-color: #ffffff;
            padding: 0.5rem;
            
            &:focus {
                border: 2px solid #A7A7A7;
                outline: none;
            }
            

        }

        &__form-submit {
            border-radius: 2px;
            margin-left: 0.5rem;
            padding-left: 0.25rem;
            padding-right: 0.25rem;
            padding-bottom: 0.2rem;
            height: 2rem;
            border: none;
            background-color: #ffffff;
            font-size: 0.9em;
        }

        &__carrito-container {
            flex: 0 0 3rem;
            text-align: start;
            line-height: 3.5rem;
            font-size: 1.2em;

            &__link {
                color: #ffffff;

                &:hover {
                    padding: 0.4rem;
                }
            }


        }

    }

    /* ----------------------- MENU-TOOGLE-------------------------*/

    .menu-toogle {
        display: none;
    }


}
