

@media screen and (min-width:576px) {
    
    /* ----------------------- HEADER -------------------------*/

    .main-header {
        display: flex;
        flex-direction: column;
        
    }
    
    #menu {
        display: none;
    }

    /* ----------------------- NAV-BAR -------------------------*/
       
    .nav-bar {
        background-color: mediumaquamarine;
      
        &__nav-list {
            display: flex;
            list-style-type: none;
            justify-content: center;
        }

        &__nav-item {
            text-align: center;
            background-color: pink;
        }

        &__nav-link {
            display: inline-block;
            padding: 1rem 2rem;
            background-color: violet;
            text-decoration: none;
        }

    }

    /* ----------------------- SEARCH-BAR -------------------------*/

    .search-bar {
        background-color: aqua;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__logo-container {
            width: 18.75rem;
            height: 3.75rem;
        }

        &__form-container {
            padding: 1rem;
            background-color: burlywood;
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
            justify-content: center;
           
        }

        &__form-label {
            background-color: orange;
        }

        &__form-search {
            background-color: #cbcbcb;
            width: 70%;
        }

        &__form-submit {
            background-color: #e6e61b;
        }

        &__carrito-container {
            flex: 0 0 3rem;
            background-color: bisque;
        }

    }

    /* ----------------------- MENU-TOOGLE-------------------------*/

    .menu-toogle {
        display: none;
    }


}
