/* ----------------------- HEADER -------------------------*/

.main-header {
    display: flex;
    flex-direction:column-reverse;
    position: sticky;
    top: 0;
    z-index: 3;
   

    
    @media screen and (min-width:576px) {
        & {
            display: flex;
            flex-direction: column;
            position: sticky;
            top: 0;
            z-index: 3;
            
        }
       
    }
}




#menu{
    display: none;
    

    &:checked + .nav-bar {
        display: block;
        margin: 0 auto;
        width: 85%;
       
        
    }

    &:checked ~ .search-bar .menu-toogle .menu-toogle__label {
        background-color: #292929;
    }

    @media screen and (min-width:576px) {
        
        & {
           display: none;
        }
     
    }

}


/* ----------------------- NAV-BAR -------------------------*/

.nav-bar {
    display: none;
    
    
    &__nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style-type: none;

    }

    &__nav-item {
        text-align: center;
    }

    &__nav-link {
        display: block;
        background-color: #ffffffd8;
        color: #252524;
        padding: 1rem 2rem;
        text-decoration: none;
        font-weight: 700;

    }
    
    @media screen and (min-width:576px) {
       
        & {
            display: flex;
            background-color: #FFFFFF;
            padding: 0.75rem;
            justify-content: center;
              
            &__nav-list {
                display: flex;
                flex-direction: row;
                list-style-type: none;
                justify-content: center;
                gap: 0.5rem;
                
            }
        
            &__nav-item {
                 text-align: center;
                 background-color: #ffffff;
                 
                 
             }
        
            &__nav-link {
                display: inline-block;
                position: relative;
                padding: 0.79rem 2.2rem;
                text-decoration: none;
                color: #4f4f4e;
                font-weight: 700;
                background-color: #cac6c6;
                border-radius: 4px;
                font-size: 0.95em;
                
        
                &::after {
                    content:'';
                    position:absolute;
                    width: 85%;
                    height: 2px;
                    bottom: 8px;
                    left: 8px;
                    background-color: #ffffff;
                    transform: scale(0);
                    transform-origin: bottom right;
                    transition: transform 0.75s ease-out;
                    
                }
        
                &:hover {
                    background-color: #c6c3c3;
                    border-radius: 4px;
                }
        
                &:hover::after {
                    background-color: #ffffff;
                    transform: scale(1);
                    transform-origin: bottom left;
                }
        
        
            }
        
        }
    }
       

}


/* ----------------------- SEARCH-BAR -------------------------*/

.search-bar {
    display: flex;
    justify-content: space-between;
    background-color: #292929;

    @media screen and (min-width:440px) {
            justify-content: flex-end ;
    }
   
  
   

    &__logo-container {
        width: 12rem;
        height: 3.75rem;
        background-color: #292929;
        text-align: center;
        font-size: 1.25em;
        line-height: 3.5rem;
        color: #fff;
        
        @media screen and (min-width:440px) {
            text-align: left;
            position: relative;
            right: 1.5rem;
        }

        @media screen and (min-width:480px) {
            text-align: left;
            position: relative;
            right: 3rem;
            
        }   


    }


    &__form-container {
        display: none;

    }

    
    &__form-label {
        display: none;
    }

    &__form-search {
        display: none;
    }

    &__form-submit {
       display: none;
    }

    &__carrito-container {
        height: 3.75rem;
        flex: 0 0 4rem;
        background-color: #292929;
        text-align: center;
        line-height: 3.75rem;
        font-size: 1.35em;
        

       

        &__link {
            color: #fff;

            &:hover {
                padding: 0.4rem;
            }
        }

      
    }

    @media screen and (min-width:576px) {
        
        & {
            display: flex;

            justify-content: space-around;
            height: 3.8rem;
            background-color: #292929;
        
            &__logo-container {
                width: 18.75rem;
                height: 3.8rem;
                text-align: center; /*end*/
                line-height: 3.7rem;
                font-size: 1.15em; /*1.35rem*/
                color: #ffffff;
                background-color: #292929;
                position: static;

                @media screen and (min-width:1180px) {
                   
                    & {
                        text-align: end;
                        font-size: 1.35rem;
                    }
                    
                }

            }
    
            &__form-container {
                padding: 0.8rem;
                display: flex;
                flex-direction: row;
                flex-basis: 100%;
                justify-content: center;
               
            }
    
            &__form-label {
                display: block;
                height: 2rem;
                padding: 0.22rem;
                color: #ffffff;
                margin-right: 0rem; /*0.5rem*/
                margin-left: -0.5rem; /*0rem*/
                font-size: 1.099em;

                @media screen and (min-width:1180px) {
                   
                    & {
                        margin-right: 0.5rem;
                        margin-left: 0rem ;
                    }

                }
               
            }
    
            &__form-search {
                display: block;
                width: 76%;  /*73%*/
                height: 1.8rem; /*2rem*/
                border:none ;
                border-radius: 2px;
                color: #000000;
                font-size: 0.95em; /*1.1em*/
                margin-left: 0.2rem; /*0.5rem*/
                background-color: #ffffff;
                padding: 0.5rem;

                @media screen and (min-width:1180px) {
                    
                    & {
                        width: 73%;
                        height: 2rem;
                        font-size: 1.1em;
                        margin-left: 0.5rem ;
                    }
                  
                }
                
                &:focus {
                    border: 2px solid #A7A7A7;
                    outline: none;
                }
                

    
            }
    
            &__form-submit {
                display: block;
                border-radius: 2px;
                margin-left: 0.5rem;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                padding-bottom: 0.2rem;
                height: 1.8rem; /*2rem*/
                border: none;
                background-color: #ffffff;
                font-size: 0.9em;

                @media screen and (min-width:1180px) {
                   
                    & {
                        height: 2rem;
                    }
                    
                }

            }
    
            &__carrito-container {
                flex: 0 0 3rem;
                text-align: center; /*start*/
                line-height: 3.5rem ;
                font-size: 1.2em;
                background-color:#292929;
                height: 3.8rem;
                position: static;

                @media screen and (min-width:1180px) {
                    
                    & {
                        text-align: start;
                    }
                    
                }

    
                &__link {
                    color: #ffffff;
    
                    &:hover {
                        padding: 0.4rem;
                    }
                }
    
    
            }
        
        }
     }
       
}



/* ----------------------- MENU-TOOGLE-------------------------*/

.menu-toogle {
    display: block;
    flex: 0 0 3rem;
    cursor: pointer;
    position: relative;
    
    &__label {
        display: block;
        height: 100% ;
        background-color: #292929;
    }

    &__top-bread, 
    &__meat, 
    &__bottom-bread {
        display: block;
        height: 0.2rem;
        position: absolute;
        left: 0.5rem;
        right: 0.5rem;
        background-color: #fff;

    }


    &__top-bread {
        top: 0.8rem;
    }

    &__meat {
        top: 50%;
        margin-top: -0.1rem;
    }

    &__bottom-bread {
        bottom: 0.8rem;
    }

    @media screen and (min-width:576px) {
        
        & {
            display: none;
        }

    }

}

 

   
   



    

    

