<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Favicon/miFavicon.ico" type="image/x-icon">
    <link rel="icon" href="/Favicon/miFavicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Nosotros - Muebles de hogar</title>
  </head>
  <body>
    <header class="main-header">
      <input type="checkbox" id="menu">

      <nav class="nav-bar">
        <ul class="nav-bar__nav-list">
          <li class="nav-bar__nav-item">
            <a href="../index.html" class="nav-bar__nav-link">Inicio</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="alta.html" class="nav-bar__nav-link">Alta</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="nosotros.html" class="nav-bar__nav-link">Nosotros</a>
          </li>
          <li class="nav-bar__nav-item">
            <a href="contacto.html" class="nav-bar__nav-link">Contacto</a>
          </li>
        </ul>
      </nav> <!--?.nav-bar-->

      
      <div class="search-bar">
        <div class="search-bar__logo-container">La Mueblería <i class="fa-solid fa-couch"></i></div>
        <form action="get" class="search-bar__form-container">
          <label for="busqueda" class="search-bar__form-label">Buscar</label>
          <input type="search" class="search-bar__form-search" id="busqueda">
          <input type="submit" class="search-bar__form-submit" value="🔍">
        </form>
        <div class="search-bar__carrito-container"><a class="search-bar__carrito-container__link" href="carrito.html"><i class="fa-solid fa-cart-shopping"></i></a></div>
        <div class="menu-toogle">
          <label for="menu" class="menu-toogle__label">
            <span class="menu-toogle__top-bread"></span>
            <span class="menu-toogle__meat"></span>
            <span class="menu-toogle__bottom-bread"></span>
          </label>
        </div>
      </div> <!--? .search-bar -->

    </header> <!--? main-header -->

    <main>

        <div class="container">

            <div class="container__descripcion">

                <h2 class="container__descripcion__titulo">¿Quiénes somos?</h2>

                <p class="container__descripcion__p">
                    La Mueblería <i class="fa-solid fa-couch"></i> S.A es una compañía nacional con visión internacional dedicada al diseño, fabricación,
                     comercialización e instalación de muebles y accesorios para tu hogar.
                </p>

                <p class="container__descripcion__p">
                    Proponemos por el mejoramiento continuo de nuestros procesos mediante la capacitación y motivación de nuestro talento humano, satisfaciendo así las expectativas y requerimientos de nuestro clientes. Nuestra empresa realiza el proceso completo de fabricación, desde el diseño, la producción (Soldadura,  Mecanización, Electricidad, Montaje
                    final) hasta las pruebas finales del producto. Contando en la producción con modernas tecnologías de soldadura, maquinas CNC, prensa, entre otros.
                </p>

                <p class="container__descripcion__p">
                    En nuestra empresa la innovación y la mejora continua son parte de nuestra cultura, tenemos avanzados sistemas de fabricación permitiéndonos alcanzar estándares de calidad satisfactorios para el consumidor final siendo esta
                    una característica vital de nuestros productos.
                </p>

                <p class="container__descripcion__p">
                    Igualmente apoyándonos en la utilización de modernas tecnologías de construcción 3D, controlamos y supervisamos todos los factores que intervienen en el diseño y fabricación de nuestros muebles de línea metálica, madera y tela.
                </p>
                
                <p class="container__descripcion__p">
                    Como siempre, tenemos en cuenta el "diseño", por eso en nuestra empresa contamos con expertos en diseño de interiores, dando así una total satisfacción para nuestros clientes para su hogar.
                </p>
                       
            </div>

        </div>

    </main>

    <div class="icono-whatsapp"><a class="icono-whatsapp__link" href="https://www.whatsapp.com/?lang=es" target="_blank"><i class="fa-brands fa-whatsapp fa-2x"></i></a></div>

    <!--? footer -->

    <footer class="footer">

      <div class="footer__seccion-0">

        <div class="footer__seccion-0__box-0">
          <h3 class="footer__seccion-0__box-1">Siéntete libre de hacernos cualquier pregunta!</h3>
          <button class="footer__seccion-0__box-2"><a class ="footer__seccion-0__box-2__link" href="contacto.html">CONTACTO</a></button>
        </div>

      </div>

      <hr>

      <div class="footer__seccion-1">

        <div class="footer__seccion-1__box-1">
          <h3 class="footer__seccion-1__box-1__h3">Mira cómo empezó nuestra historia y nuestra idea desde cero:</h3>
          <button class="footer__seccion-1__box-1__button"><a  class="footer__seccion-1__box-1__button__link" href="nosotros.html">NOSOTROS</a></button>
        </div>

        <div class="footer__seccion-1__box-2">
          <h3 class="footer__seccion-1__box-2__h3">Aquí te dejamos una pequeña descripción de Nosotros:</h3>
          <div class="footer__seccion-1__box-2__p">
            <p>La Mueblería S.A. <i class="fa-solid fa-couch"></i> es una compañía dedicada al diseño,
              fabricación, comercialización e instalación de muebles, desde una mirada decorativa como cocinas, comedores,
               salas de estar, salas de trabajo y armarios,  hasta una mirada de confort y relajación, como camas, sofas y baños.</p>
          </div>
        </div>

        <div class="footer__seccion-1__box-3">
          <h3 class="footer__seccion-1__box-3__h3">Síguenos en nuestras Redes Sociales:</h3>
          <div class="footer__seccion-1__box-3__redes-sociales">
            <a class="icono-instagram__link" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a class="icono-facebook__link" href="https://www.facebook.com/Meta/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          </div>    
        </div>
            
      </div>

      <div class="footer__seccion-2">
        <small class="footer__seccion-2__small">&copy; 2024 <b>LA MUEBLERÍA <i class="fa-solid fa-couch"></i></b> - TODOS LOS DERECHOS RESERVADOS.</small>
      </div>
        
    </footer>
    
    
    <script type="module" src="/main.js"></script>
  </body>
</html>
