@media screen and (min-width:576px) {
    
    .card {
        width: 28.75rem;
        max-width: 30.5rem;
        height: 29rem;
        position: relative;
        background-color: #e5a28a;
        overflow: hidden;
        box-shadow: 0px 1px 5px 0px #0000004d;

        &:focus,
        &:hover {
            transform: scale(1.09) ;
            transform-origin: center;
            transition-duration: 1.25s;
            z-index: 1;
            border: 0.3125rem solid rgb(253, 235, 212);
        }

      
      
        .icono-bolsa {
            width: 2.5rem;
            height: 2.5rem;
            text-align: center;
            line-height: 2.3rem;
            font-size: 1.4rem;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
           

            &__link {
                color: #000;
            }
        }

        &__image-container {
            background-color: cornflowerblue;
            height: 20rem;
            overflow: hidden;
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

      


    }


}