.card {
    width: 18.5rem;
    max-width: 23.5rem;
    height: 28rem;
    background-color: #EFE1E1;
    overflow: hidden;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
    
    &:focus, 
    &:hover {
        transform: scale(1.09) ;
        transform-origin: center;
        transition-duration: 1.25s;
        z-index: 1;
        border: 2px solid #fff;
        border-radius: 10px;
    }

    .icono-bolsa {
        width: 2.2rem;
        height: 2.2rem;
        text-align: center;
        line-height: 2rem;
        font-size: 1.15em;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;

        &:focus, 
        &:hover {
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.796);
        }

        &__link {
            color: #000;
        }

    }    
    
    

    &__image-container {
        height: 14.4rem;
        overflow: hidden;

        @media screen and (min-width:440px) {
        
            & {
                height: 15.5rem;
            }
        }

        @media screen and (min-width:480px) {
            height: 17.5rem;
        }

    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    &__content {
    

        &__heading {
            font-size: 1.23em;
            text-align: center;
            margin-top: 1rem;

           
        }

        &__description {
            font-size: 0.95em;
            font-weight: 600;
            text-align: justify;
            padding: 1rem;
            
        }

    }

    @media screen and (min-width:400px) {
        
        & {
            width: 27.5rem;
            max-width: 30.5rem;
        }
    }

    @media screen and (min-width:576px) {
        
        & {
            width: 28.75rem;
            max-width: 30.5rem;
            height: 29rem;
            position: relative;
            overflow: hidden;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
            background-color: #efe1e1;
            border-radius: 0;

            &:focus, 
            &:hover {
                transform: scale(1.09) ;
                transform-origin: center;
                transition-duration: 1.25s;
                z-index: 1;
                border: 4px solid #fff;
                border-radius: 5px;
            }

            .icono-bolsa {
                width: 2.5rem;
                height: 2.5rem;
                text-align: center;
                line-height: 2.3rem;
                font-size: 1.4em;
                border-radius: 50%;
                background-color: #fff;
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;

                &:hover {
                    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.796);
                }

                &__link {
                    color: #000;
                }

            }    

            &__image-container {
                height: 20rem;
                overflow: hidden;
            }

            &__image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &__content {
                padding: 0.35rem;
                margin-top: 2px;

                &__heading  {
                    margin-top: 0;
                    font-size: 1.4em;
                    margin-bottom: 8px;
                    text-align: center;
                    color: #000;
                }

                &__description {
                    font-size: 1em;
                    text-align: center;
                    color: #000;
                    font-weight: 500;
                    padding: 0;
                }

            }

        }

    }
    
}

