.form-contacto {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.75em;
    background-color: #dddddd;

    @media screen and (min-width:1180px) {
        gap: 2rem;
    }

    

    .h1-contacto {
        font-size: 1.4em;

        @media screen and (min-width:1180px) {
            text-align: center;
        }

        @media screen and (min-width:1483px) {
            font-size: 2em;
        }

    }

    .p-contacto {
        font-size: 1em;
        font-weight: 500;
        color: #000000;
        margin-bottom: 0.75rem;

        @media screen and (min-width:1180px) {
            text-align: center;
        }

        @media screen and (min-width:1483px) {
            font-size: 1.15em;
        }

    }

    &__fieldset-personales {
        display: flex;
        flex-direction: column;
        background-color: #aeaeae;
        padding: 0.75rem;
        gap: 1.5rem;    
        border: transparent;
        border-radius: 5px;
        box-shadow: 0 0 2.5px 0.5px #ffffff;
        padding-bottom: 2rem;

       

        @media screen and (min-width:680px) {
            margin: 0 auto;
            width: 75%;
            padding: 1.75rem;
            padding-bottom: 2rem;
        }

        @media screen and (min-width:885px) {
            width: 60%;
            padding-bottom: 2.5rem;
        }

        @media screen and (min-width:1180px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding: 2rem;
            width: 55%;
        }

        @media screen and (min-width:1483px) {
            width: 50%;
            flex-direction: column;
            justify-content: center;
            padding: 3.5rem;
            
        }

        @media screen and (min-width:1800px) {
            width: 40%;
        }

        @media screen and (min-width:2200px) {
            width: 33%;
        }
        
        
    }

    &__legend-personales {
        font-weight: 600;
        font-size: 0.9em;
        background-color: #fff;
        border-radius: 2.5px;
        padding: 0.3rem;

        @media screen and (min-width:1483px) {
            font-size: 1.15em;
            padding: 0.5rem;
            border-radius: 5px;
        }

    }

    &__label-personales {
        text-align: center;
        font-weight: 600;
        font-size: 0.9em;

        @media screen and (min-width:1483px) {
            font-size: 1.15em;
        }

    }

    &__input-personales {
        width: 100%;
        height: 2rem;
        font-size: 1em;
        border-radius: 5px;
        outline: none;
        border: 1px solid #fff;
        padding: 0.45rem;
        margin-top: 0.65rem;
        background-color: #ffffff;
       
        
        @media screen and (min-width:1180px) {
            margin-bottom: 0.5rem;
        }

        @media screen and (min-width:1483px) {
            height: 2.5rem;
        }

        @media screen and (min-width:2200px) {
            width: 95%;
        }
        

    }

    &__fieldset-consulta {
        background-color: #aeaeae;
        padding: 1rem;
        border-radius: 5px;
        border: transparent;
        box-shadow: 0 0 2.5px 0.5px #ffffff;
       

        
        @media screen and (min-width:680px) {
            margin: 0 auto;
            width: 75%;
            padding: 1.75rem;
        }

        
        @media screen and (min-width:885px) {
            width: 60%;
        }

        
        @media screen and (min-width:1180px) {
            width: 55%;
        }

        @media screen and (min-width:1483px) {
            width: 50%;
            padding: 1.85rem;
            
        }

        @media screen and (min-width:1800px) {
            width: 40%;
        }
        
        @media screen and (min-width:2200px) {
            width: 33%;
        }
        
    }

    &__legend-consulta {
        font-weight: 600;
        font-size: 0.9em;
        background-color: #fff;
        border-radius: 2.5px;
        padding: 0.3rem;
        text-align: center;

        @media screen and (min-width:1483px) {
            font-size: 1.15em;
            padding: 0.5rem;
            border-radius: 5px;
        }

    }

    &__label-consulta {
        text-align: start;
        font-weight: 600;
        font-size: 0.9;

        @media screen and (min-width:1483px) {
            font-size: 1.15em;
        }


    }

    &__input-consulta {
        height: 8.5rem;
        width: 100%;
        margin-top: 0.75rem;
        font-size: 1em;
        padding: 0.45rem;
        border-radius: 5px;
        font-weight: 500;
        border: transparent;
        font-family: "Open Sans", sans-serif;
        outline: none;

        @media screen and (min-width:1180px) {
            height: 10rem;
        }

        @media screen and (min-width:1483px) {
            height: 12rem;
            font-size: 1.05em;
        }

        @media screen and (min-width:1800px) {
           height: 14rem ;
        }

    }

    &__label-términos {
        text-align: start;

        @media screen and (min-width:885px) {
            text-align: center;
        }

    }

    &__link-términos {
        font-weight: 500;
        color: #242424;

    }

    &__submit {
        margin: 0.75rem auto;
        width: 47.5%;
        padding: 0.4rem;
        font-size: 0.85em;
        border-radius: 5px;
        outline: none;
        border: transparent;
        box-shadow: 0 0 2.5px 0.5px #a1a1a1;
        font-family:"Open Sans", sans-serif;

        @media screen and (min-width:480px) {
            width: 32.5%;
        }

        @media screen and (min-width:885px) {
            width: 25%;
            padding: 0.6rem;
        }

        @media screen and (min-width:1180px) {
            width: 18%;
        }

        @media screen and (min-width:1483px) {
            width: 12.5%;

            &:hover {
                color: #ffffff;
                font-weight: bold;
                background-color: #a6a4a4;
                box-shadow: 0 0 3px 2px #ffffff;
                transform: scale(1.3);
                transform-origin: bottom center;
                
            }

        }

    }

}