@media screen and (min-width:576px) {
    
    .section-cards {
        background-color: #9cdbdd;
        

        &__header {
            background: url("/img/Inicio/Imagen-Inicio.webp")no-repeat;
            background-size: cover;
            height: 44rem;
            text-align: center;
            padding: 4rem;
            
            h2 {
                margin-top: 2rem;
            }

            p {
                margin-top: 2rem;
                margin-bottom: 1.5rem;
            }

        }
    }

    .cards-container {
        padding: 2rem ;
        background-color: #9aa9a9;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.35rem;
        justify-content: center;
    }

    .icono-whatsapp {
        position: fixed;
        bottom: 10px;
        right: 8px;
        width: 80px;
        height: 80px;
        line-height: 95px;
        border-radius: 50%;
        background-color: #0CC042;
        text-align: center;
        font-size: 1.49rem;
        z-index: 2;
       
        &__link {
            color: #fff;
        }

    }

  
}