@media screen and (min-width:576px) {
    
    .section-cards {
        background-color: #9cdbdd;
        

        &__header {
            background: url("/img/Inicio/Imagen-Inicio.webp")no-repeat;
            background-size: cover;
            height: 44rem;
            text-align: center;
            padding: 4rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-color: rgba(0, 0, 0, 0.25);
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;

            }

            h1 {
                color: #fff;
                position: relative;
                margin-top: 1rem;
                margin-bottom: 1.2rem;
                font-size: 2.2rem;
               
            }
            
            h2 {
                margin-top: 1rem;
                margin-bottom: 1.2rem;
                color: #fff;
                position: relative;
                font-size: 2.1rem;
             
            }

            h3{
                margin-top: 1rem;
                margin-bottom: 1.2rem;
                color: #fff;
                position: relative;
                font-size: 2rem;
                font-weight: 500;
                background-color: #FF956D;
                padding: 0.5rem;
                border-radius: 5px;
            }

        }
        
    }

    .cards-container {
        padding-left: 2rem ;
        padding-right: 2rem;
        padding-top: 3.5rem;
        padding-bottom: 5rem;
        background-color: #C6C3C3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.35rem;
        justify-content: center;
    }

    .icono-whatsapp {
        position: fixed;
        bottom: 10px;
        right: 8px;
        width: 80px;
        height: 80px;
        line-height: 95px;
        border-radius: 50%;
        background-color: #0CC042;
        text-align: center;
        font-size: 1.49rem;
        z-index: 2;

        &:hover {
            box-shadow: 0 0 5px 1px #000;
        }
       
        &__link {
            color: #fff;

        }

    }

  
}