.section-cards {
    background-color: #fff;
    padding: 0;

    &__header {
        text-align: center;
        padding: 0.25rem;
        background: url("/img/Inicio/Imagen-Inicio.webp")no-repeat;
        background-size: cover;
        margin-bottom: 0;
        margin-top: 0;
        position: relative;
        height: 14.25rem;

        @media screen and (min-width:426px) {
            
           & {
            height: 16.25rem;
           }

        }

        @media screen and (min-width:480px) {
            
            & {
                height: 18.25rem;
            }

        }

         @media screen and (min-width:535px) {
            
            & {
                height: 20.25rem;
            }

        }

        &::before {
            content:'';
            position: absolute;
            background-color: rgba(0, 0, 0, 0.25);
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }


        h1 {
            font-size: 0.95em;
            margin-bottom: 0.5rem;
            color: #fff;
            margin-top: 0.45rem;
            position: relative;

            @media screen and (min-width:426px) {
                
                & {
                    font-size: 1.099em;
                }

            }

            @media screen and (min-width: 480px) {

                & {
                    font-size: 1.156em;
                }

            }

            @media screen and (min-width:535px) {
            
                & {
                    font-size: 1.213em;
                   
                }
    
            }


        }

        h2 {
            font-size: 0.95em;
            margin-bottom: 5.5rem;
            margin-top: 0.55rem;
            color: #fff;
            position: relative;

            @media screen and (min-width:426px) {
                
                & {
                    font-size: 1.099em;
                }

            }

            @media screen and (min-width:480px) {

                & {
                    font-size: 1.156em;
                }

            }

            @media screen and (min-width:535px) {
            
                & {
                    font-size: 1.213em;
                   
                }
    
            }


        }

        h3 {
            font-size: 0.95em;
            color: #fff;
            margin-top: 0;
            margin-bottom: 0rem;
            position: relative;
            background-color: rgba(255, 148, 109, 0.6);
            border-radius: 5px;
            padding: 0.25rem;

            @media screen and (min-width:426px) {
                
                & {
                    margin-top: 5.79rem;
                    font-size: 1.099em;
                }

            }

            @media screen and (min-width:480px) {
                
                & {
                    margin-top: 7.4rem;
                    font-size: 1.156em;
                    
        
                }

            }

            @media screen and (min-width:535px) {
            
                & {
                    margin-top: 8.6rem;
                    font-size: 1.213em;
                   
                }
    
            }

        }

    }

    @media screen and (min-width:576px) {
        
        & {
            background-color: #fff;
            padding: 0;

            &__header {
                background: url("/img/Inicio/Imagen-Inicio.webp")no-repeat;
                background-size: cover;
                text-align: center;
                padding: 4rem;
                position: relative;
                margin-bottom: 0;
                margin-top: 0;

                height: 25.25rem;

                
                @media screen and (min-width:740px) {
                     
                    & {
                       height: 30.25rem;
                    }
        
               }

                
         
                @media screen and (min-width:885px) {
                     
                     & {
                        height: 35.25rem;
                     }
         
                }

                
                @media screen and (min-width:1035px) {
                     
                    & {
                       height: 40.25rem;
                    }
        
               }

               
               @media screen and (min-width:1180px) {
                     
                    & {
                        height: 45.25rem;
                    }
    
                }    

                @media screen and (min-width:1325px) {
                     
                    & {
                        height: 50.25rem;
                    }
    
                }    

                @media screen and (min-width:1483px) {
                     
                    & {
                        height: 52rem;
                    }
    
                }    



                &::before {
                    content: '';
                    position: absolute;
                    background-color: rgba(0, 0, 0, 0.25);
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                }

                h1 {
                    color: #ffffff;
                    position: relative;

                    font-size: 1.35em;
                    margin-top: -2rem;
                    margin-bottom: 0.8rem;
                    
                    
                      
                    @media screen and (min-width:740px) {
                     
                        & {
                            font-size:  1.55em;
                        }
        
                    }

                
         
                    @media screen and (min-width:885px) {
                     
                        & {
                            font-size: 1.6em;
                        }
         
                    }

                    @media screen and (min-width:1035px) {
                     
                        & {
                           font-size: 1.63em;
                        }
            
                   }
    
                   
                   @media screen and (min-width:1180px) {
                         
                        & {
                            font-size: 1.7rem;
                        }
        
                    }    
    
                    @media screen and (min-width:1325px) {
                         
                        & {
                            font-size: 1.75em;
                        }
        
                    }    

                    
                    @media screen and (min-width:1483px) {
                     
                        & {
                            font-size: 2.2em;
                            margin-top: 1rem;
                            margin-bottom: 1.2rem;
                        }
        
                    }


                }

                h2 {
                   
                    color: #fff;
                    position: relative;

                    font-size: 1.35em;
                    margin-top: 0.8rem;
                    margin-bottom: 9.5rem;
                    
                    
                    @media screen and (min-width:740px) {
                     
                        & {
                            font-size: 1.5em;  
                        }
        
                    }

                      
                    @media screen and (min-width:885px) {
                     
                        & {
                            font-size: 1.566em;
                        }
        
                    }

                    @media screen and (min-width:1035px) {
                     
                        & {
                            font-size: 1.62em;
                        }
            
                   }
    
                   
                   @media screen and (min-width:1180px) {
                         
                        & {
                            font-size: 1.7em;
                        }
        
                    }    
    
                    @media screen and (min-width:1325px) {
                         
                        & {
                            font-size: 1.72em;
                            margin-bottom: 0rem;
                        }
        
                    }    

                
         
                    @media screen and (min-width:1483px) {
                     
                        & {
                            font-size: 2.2em;
                            margin-top: 1rem;
                            margin-bottom: 1.2rem;
                        }
         
                    }

                }

                h3 {  
                    color: #fff;
                    position: relative;
                    background-color: rgba(255, 148, 109, 0.518);
                    border-radius: 5px;
                    font-size: 1.35em;
                    margin-top: 10rem;
                    margin-bottom: 0;
                    
                   

                    @media screen and (min-width:740px) {
                     
                        & {
                            font-size: 1.5em;
                            margin-top: 13rem;
                            margin-bottom: 0;

                        }
        
                    }

                      
                    @media screen and (min-width:885px) {
                     
                        & {
                            font-size: 1.6em;
                            margin-bottom: 0;
                            margin-top: 16.5rem
                        }
        
                    }

                    @media screen and (min-width:1035px) {
                     
                        & {
                            font-size: 1.6em;
                        }
            
                    }

                   @media screen and (min-width:1042px) {
                     
                        & {
                            font-size: 1.65em;
                        }
        
                    }

                    @media screen and (min-width:1144px) {
                     
                        & {
                            margin-top: 19rem;
                        }
        
                    }
                   
                   @media screen and (min-width:1180px) {
                         
                        & {
                            font-size: 1.7em;
                            margin-top: 17.5rem;
                        }
        
                    }    
    
                    @media screen and (min-width:1325px) {
                         
                        & {
                            font-size: 1.72em;
                            margin-top: 2.5rem;
                        }
        
                    }    
                
         
                    @media screen and (min-width:1483px) {
                     
                        & {
                            margin-top: 1rem;
                            margin-bottom: 1.2rem;
                            font-weight: 500;
                            padding: 0.5rem;
                            font-size: 2.2em;
                        }
                        
                    }

                }

            }

        }
    }

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background-color: #C6C3C3;
    padding: 1.5rem;

    @media screen and (min-width:576px) {
       
        & {
            padding-left: 2rem ;
            padding-right: 2rem;
            padding-top: 4.5rem;
            padding-bottom: 4.5rem;
            background-color: #C6C3C3;
             display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1.2rem;
            justify-content: center;
        }

    }
    
}

.icono-whatsapp {
    position: fixed;
    bottom: 30px;
    right: 8px;
    width: 52px;
    height: 52px;
    line-height: 62px;
    border-radius: 50%;
    background-color: #0CC042;
    text-align: center;
    font-size: 1.11em;
    z-index: 2;

    @media screen and (min-width:400px) {
        bottom: 10px;
    }

    &:hover {
        box-shadow: 0 0 2.5px 0.5px #000;
    }
   
    &__link {
        color: #fff;

    }

    @media screen and (min-width:576px) {

        & {
            position: fixed;
            bottom: 10px;
            right: 8px;
            width: 80px;
            height: 80px;
            line-height: 95px;
            border-radius: 50%;
            background-color: #0CC042;
            text-align: center;
            font-size: 1.49em;
            z-index: 2;

            &:hover {
                box-shadow: 0 0 5px 1px #000;
            }

            &__link {
                color: #fff;
            }

        }

    }


}